.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 16px;
  max-width: 350px;
  margin: 20px auto;
  position: relative;
  font-family: 'Georgia', serif;
  transition: ease-in-out 0.3s;
  background-color: rgb(245, 245, 245);
}
.card:hover{
  transform: scale(1.010);
  box-shadow: 0 0 7px 0;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 20px;
}
.price-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #50f9b5;
  color: #000;
  padding: 4px 8px;
  border-radius: 6px;
  transform: rotate(-45deg);
  font-size: 12px;
  font-weight: bold;
}

.product-img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: contain;
}

.product-info {
  margin-top: 16px;
}

.product-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 8px;
}

.product-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.product-description {
  font-size: 14px;
  line-height: 1.4;
  color: #444;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.add-button {
  background-color: #666;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #444;
}
