@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
.footer {
  background-color: #000000;
  color: #eee;
  padding: 40px 20px 20px;
  width: 100vw;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.footer-brand{
    margin: 0 20px;

    img{
        height: 80px;
    }

    p {
    font-family: "Caveat", cursive;
    font-size: 20px;
    color: #bbb;
    }
}


.footer-links {
    display: flex;

    gap: 20px;
    a {
        text-decoration: none;
        color: #ccc;
        transition: color 0.3s;
        font-size: 25px;
    }

    a:hover {
        color: #f03a3d;
    }

}

.footer-social{
    display: flex;
    margin: 0 20px;
    gap: 20px;
    a {
        color: #ccc;
        font-size: 30px;
        transition: color 0.3s;
    }
    a:hover {
        color: #f03a3d;
    }
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
    border-top: 1px solid #333;
    padding-top: 15px;
}